{% extends 'warhammer/base.html' %}

{% block title %}
    <title>WfRp - umiejętności</title>
{% endblock %}

{% block body %}
<div class="container">
    <div class="card mb-5">
        <div class="card-header">
            <div class="row">
                <div class="col" data-en="Talents">
                    Zdolności
                </div>
                <div class="col">
                    <input id="search" class="form-control form-control-lg" type="text" placeholder="Szukaj" onkeyup="">
                </div>
            </div>

        </div>
        <div class="card-body">
            <table class="table table-hover" id="example">
                <thead>
                <tr>
                    <th data-en="Name">Nazwa</th>
                </tr>
                </thead>
                <tbody>
                {% for ability in object_list %}
                <tr>
                    <td><a href="" data-toggle="modal" data-target="#{{ability.slug}}" data-en="{{ability.name_en}}">{{ability.name}}</a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% for ability in object_list %}
<div class="modal fade" id="{{ability.slug}}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" data-en="{{ability.name_en}}">{{ability.name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <p data-en="{{ability.description_en | linebreaks}}">{{ability.description | linebreaks}}</p>
      </div>
    </div>
  </div>
</div>
{% endfor %}

<script>
var rows = document.getElementsByTagName("tr");
var search_box = document.getElementById('search');
search_box.addEventListener('keyup', search, false);

function search(){
    search_value = search_box.value.toLowerCase();
    for (i=1; i<rows.length; i++){
        if (rows[i].innerHTML.toLowerCase().indexOf(search_value) == -1){
            rows[i].style.display = "none";
        }
        else{
            rows[i].style.display = "";
        }
    }
}

</script>
{% endblock %}