{% extends 'warhammer/base.html' %}
{% load static %}

{% block title %}
<title>WfRp - {{character.name}}</title>
{% endblock %}

{% block body %}
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
    <div class="wrapper">

    <!-- sidebars with chat and map -->
    {% include 'wh_chat/sidebars.html' %}

    <div class="container">
        {% if error_message %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">{{error_message}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}
        {% if claim_message %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert"> {{claim_message}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}

        <!-- map button -->
        <button type="button" id="sidebarCollapse-left" class="btn btn-dark btn-lg">
            <img src="{% static 'warhammer/mapa.png' %}" class="img-fluid" style="height:20px;">
            <span> Mapa taktyczna</span>
        </button>

        <!-- dice roller button -->
        <button type="button" id="sidebarCollapse" class="btn btn-dark btn-lg float-right">
            <span>Kostko-turlacz</span>
            <img src="{% static 'warhammer/kostki.png' %}" class="img-fluid" style="height:20px;">
        </button>
        <span data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="display:none;"></span>

            <!-- Basic info -->
            <div class="row pb-4 justify-content-center">
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-header pb-2">Podstawowe informacje</div>
                        <p class="pl-3 pr-3 pt-4" id="Name">Nazwa: {{character.name}}</p>
                        <p class="pl-3">Rasa: {{character.race.name}}</p>
                        <p class="pl-3">Profesja: {{character.profession.name}}</p>
                       <!-- EXP form -->
                        <form method="post">
                            {% csrf_token %}
                            <input type="hidden" name="action" value="add_exp">
                            <div class="row pb-3">
                                <div class="col ml-3">
                                    PD: {{character.current_exp}}
                                </div>
                                <div class="col">
                                    {{ exp_form }}
                                </div>
                                <div class="col text-center">
                                    <button name="PD" class="btn btn-dark" type="submit" value="PD">+ / - PD</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- stats-->
                <div class="col-lg-8">
                    <div class="card">
                        <div class="card-header pb-2">Aktualne cechy bohatera <span class="text-right"><button id="stats_toggle_button" type="button" class="btn btn-secondary float-right" onclick="toggle_stats()">Edytuj</button></span></div>

                        <!-- basic stats table -->
                        <div class="table-responsive" id="table_basic" style="display:block;">
                            <table class="table table-sm">
                                <thead class="thead-dark justify-content-center">
                                <tr>{% for stat in stats_table %} {% if not stat.stat.is_secondary %}
                                    <th class="pl-5" scope="col"><a class="text-white" data-target="#{{stat.stat.short}}" data-toggle="modal" href="#">{{stat.stat.short}}</a></th>{% endif %} {% endfor %}
                                </tr>
                                </thead>
                                <tbody>
                                <tr>{% for stat in stats_table %} {% if not stat.stat.is_secondary %}
                                    <td id="R_{{stat.stat.short}}" class="pl-5" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="{{stat.base}} + {{stat.bonus}}">{{stat.base|add:stat.bonus}}</td>{% endif %} {% endfor %}
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <!-- secondary stats table -->
                        <div class="table-responsive" id="table_secondary" style="display:block;">
                            <table class="table table-sm mt-3">
                                <thead class="thead-dark ml-3">
                                <tr>{% for stat in stats_table %} {% if stat.stat.is_secondary %}
                                    <th class="pl-5" scope="col"><a class="text-white" href="#" data-toggle="modal" data-target="#{{stat.stat.short}}">{{stat.stat.short}}</a></th>{% endif %} {% endfor %}
                                </tr>
                                </thead>
                                <tbody>
                                <tr>{% for stat in stats_table %} {% if stat.stat.is_secondary %}
                                    <td ID="R_{{stat.stat.short}}" class="pl-5" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="{{stat.base}} + {{stat.bonus}}">{{stat.base|add:stat.bonus}}</td>{% endif %} {% endfor %}
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <form method="post">
                            {% csrf_token %}
                            <input type="hidden" name="action" value="edit_stats">
                        <!-- edit basic skills -->
                        <div class="alert alert-info" role="alert" id="form_alert" style="display:none;">
                            Edytujesz wartości podstawowe cech - nie bierz pod uwagę rozwinięć.
                        </div>
                        <div class="table-responsive" style="display:none;" id="form_basic">
                            <table class="table table-sm">
                                <thead class="thead-dark justify-content-center">
                                <tr>{% for stat in stats_table %} {% if not stat.stat.is_secondary %}
                                    <th class="pl-5" scope="col"><a class="text-white" data-target="#{{stat.stat.short}}" data-toggle="modal" href="#">{{stat.stat.short}}</a></th>{% endif %} {% endfor %}
                                </tr>
                                </thead>
                                <tbody>
                                <tr>{% for stat in stats_table %} {% if not stat.stat.is_secondary %}
                                    <td class="pl-5"><input value="{{stat.base}}" name="{{stat.stat.short}}" class="form-control" type="number" step="1">{% endif %} {% endfor %}
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <!-- edit secondary skills -->
                        <div class="table-responsive" style="display:none;" id="form_secondary">
                            <table class="table table-sm mt-3">
                                <thead class="thead-dark ml-3">
                                <tr>{% for stat in stats_table %} {% if stat.stat.is_secondary %}
                                    <th class="pl-5" scope="col"><a class="text-white" href="#" data-toggle="modal" data-target="#{{stat.stat.short}}"></a>{{stat.stat.short}}</th>{% endif %} {% endfor %}
                                </tr>
                                </thead>
                                <tbody>
                                <tr>{% for stat in stats_table %} {% if stat.stat.is_secondary %}
                                    <td class="pl-5"><input value="{{stat.base}}" name="{{stat.stat.short}}" class="form-control" type="number" step="1"></td>{% endif %} {% endfor %}
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="card-footer" id="form_footer" style="display:none"><button name="edit_stats" class="btn btn-dark" value="edit_stats" type="submit">Zapisz</button> </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Skills -->
            <div class="row pb-4 justify-content-center">
                <div class="col-lg">
                    <div class="card pb-4">
                        <div class="card-header wh-header">Umiejętności <button type="button" id="skills_toggle_button" class="btn btn-secondary float-right" onclick="toggle_skills()">Edytuj</button> </div>
                        <!-- Skills List -->
                        <ul class="list-group list-group-flush" id="display_skills" style="display:block">
                        {% for skill in char_skills %}
                        <li class="list-group-item ml-3 mr-3">
                            <div class="row">
                                <div class="col-6">
                                    <a href="" data-target="#{{skill.skill.slug}}" data-toggle="modal" >{{skill.skill.name}}</a> {% if skill.bonus %}{{skill.bonus}}{% endif %}
                                </div>
                                <div class="col-3">
                                    ({{skill.skill.stat.short}})
                                </div>
                                <div class="col-3">
                                    + {{skill.level}}
                                </div>
                            </div>
                        </li>
                            {% endfor %}
                        </ul>
                        <!-- Remove skill -->
                         <ul class="list-group list-group-flush" id="form_skills" style="display:none">
                             <form method="post">
                                {% csrf_token %}
                                <input type="hidden" name="action" value="remove_skill">
                                {% for skill in char_skills %}
                                <li class="list-group-item ml-3 mr-3">
                                    <div class="row">
                                        <div class="col-6">
                                            <a href="" data-target="#{{skill.skill.slug}}" data-toggle="modal" >{{skill.skill.name}}</a> {% if skill.bonus %}{{skill.bonus}}{% endif %}
                                        </div>
                                        <div class="col-3">
                                            ({{skill.skill.stat.short}})
                                        </div>
                                        <div class="col-3">
                                            <button type="submit" class="btn btn-light btn-lg" name="remove_skill" value="{{skill.pk}}"><span class="glyphicon glyphicon-remove" style="color:red"></span></button>
                                        </div>
                                    </div>
                                 </li>
                                 {% endfor %}
                             </form>
                             <!-- create skill -->
                             <form method="post">
                                 <input type="hidden" name="action" value="add_skill">
                                 {% csrf_token %}
                                 <li class="list-group-item ml-3 mr-3">
                                     <div class="row">
                                         <div class="col-5">
                                            {{ add_skill_form.add_skill }}
                                         </div>
                                         <div class="col-4">
                                             {{ add_skill_form.skill_bonus }}
                                         </div>
                                         <div class="col-3">
                                             <button type="submit" class="btn btn-light btn-lg" name="add_skill_btn" value="add_skill"><span class="glyphicon glyphicon-plus" style="color:green"></span></button>
                                         </div>
                                     </div>
                                 </li>
                             </form>
                        </ul>

                    </div>
                </div>

                <!-- Abilities -->
                <div class="col-lg">
                    <div class="card pb-4">
                        <div class="card-header">Zdolności<button type="button" id="abilities_toggle_button" class="btn btn-secondary float-right" onclick="toggle_abilities()">Edytuj</button></div>
                        <!-- Ability list -->
                        <ul class="list-group list-group-flush" id="display_abilities">
                        {% for ability in char_abilities %}
                            <li class="list-group-item ml-3 mr-3" style="display:block"><a href="" data-toggle="modal" data-target="#{{ability.ability.slug}}">{{ability.ability.name}}</a> {% if ability.bonus %}{{ability.bonus}}{% endif %}</li>
                            {% endfor %}
                        </ul>

                        <!-- remove ability -->
                            <ul class="list-group list-group-flush" id="form_abilities" style="display:none">
                                <form method="post">
                                <input type="hidden" name="action" value="remove_ability">
                                {% csrf_token %}
                                    {% for ability in char_abilities %}
                                    <li class="list-group-item ml-3 mr-3">
                                        <div class="row">
                                            <div class="col-9">
                                                <a href="" data-toggle="modal" data-target="#{{ability.ability.slug}}">{{ability.ability.name}}</a> {% if ability.bonus %}{{ability.bonus}}{% endif %}
                                            </div>
                                            <div class="col-3">
                                                <button class="btn btn-light btn-lg" name="remove_ability" value="{{ability.pk}}"><span class="glyphicon glyphicon-remove" style="color:red"></span></button>
                                            </div>
                                        </div>
                                    </li>
                                    {% endfor %}
                                </form>
                                 <!-- create ability -->
                                 <li class="list-group-item ml-3 mr-3">
                                     <form method="post">
                                         <input type="hidden" name="action" value="add_ability">
                                     {% csrf_token %}
                                         <div class="row">
                                             <div class="col-5">
                                                {{ add_ability_form.add_ability }}
                                             </div>
                                             <div class="col-4">
                                                 {{ add_ability_form.ability_bonus }}
                                             </div>
                                             <div class="col-3">
                                                 <button type="submit" class="btn btn-light btn-lg" name="add_ability_btn" value="add_ability"><span class="glyphicon glyphicon-plus" style="color:green"></span></button>
                                             </div>
                                         </div>
                                     </form>
                                 </li>
                            </ul>
                        </form>
                    </div>
                </div>

                <!-- equipment -->
                <div class="col-lg">
                     <!-- coins -->
                    <form method="post">
                    {% csrf_token %}
                        <input type="hidden" name="action" value="add_coins">
                    <div class="card pb-4 mt-3">
                        <div class="card-header" style="font-size:medium;font-family: 'Germania One', cursive;">Sakiewka</div>
                        <p class=" mr-3 ml-3 mb-3 mt-3">
                            <img src="{% static 'warhammer/zk.png' %}" style="color:gold" width="27" height="27"> zk: {{coins.0}},
                            <img src="{% static 'warhammer/s.png' %}" style="color:gold" width="27" height="27"> s: {{coins.1}},
                            <img src="{% static 'warhammer/p.png' %}" style="color:gold" width="27" height="27"> p: {{coins.2}}
                        </p>
                        <div class="row ml-2">
                            <div class="col">
                                {{ coins_form.gold }}
                            </div>
                            <div class="col">
                                {{ coins_form.silver }}
                            </div>
                            <div class="col">
                                {{ coins_form.bronze }}
                            </div>
                            <div class="col">
                                <button type="submit" value="coins" name="coins" class="btn btn-dark btn-lg">+ / - </button>
                            </div>
                        </div>
                    </div>
                    </form>
                    <!-- EQ form -->
                    <form method="post">
                    {% csrf_token %}
                        <input type="hidden" name="action" value="edit_eq">
                    <div class="card">
                        <div class="card-header">Ekwipunek <button id="eq_toggle_button" class="btn btn-secondary float-right" type="button" onclick="toggle_eq()">Edytuj</button> </div>
                        <span id="display_eq" style="display:block;" class="mr-3 ml-3 mt-3">{{character.equipment|linebreaks}}</span>
                        {{ eq_form }}
                        <div id="eq_footer" class="card-footer" style="display:none;">
                            <button name="edit_eq" class="btn btn-dark" type="submit" value="edit_eq">Zapisz</button>
                        </div>
                    </div>
                    </form>
                    <!-- notes -->
                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="edit_notes">
                        <div class="card">
                        <div class="card-header">Notatki</div>
                        {{ notes_form }}
                        <div id="notes_footer" class="card-footer">
                            <button name="edit_notes" class="btn btn-dark" type="submit" value="edit_notes">Zapisz</button>
                        </div>
                    </div>
                    </form>
                </div>
            </div>

            <!-- Character development -->

            <div class="row">
                <div class="col">
                <div class="card mb-5">
                    <div class="card-header">Rozwój Bohatera</div>
                    <div class="row">
                        <!-- Develop stats -->
                        <div class="col-lg-6">
                        <form method="post">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="develop_stats">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item list-group-item-secondary mr-3 ml-3 mt-3">Cechy podstawowe: +5 (100 PD)</li>
                            {% for stat in develop_stats %}
                                {% if not stat.stat.is_secondary %}
                                 <li class="list-group-item mr-3 ml-3">
                                     <div class="row">
                                         <div class="col">
                                             <a href="" data-toggle="modal" data-target="#{{stat.stat.short}}">{{stat.stat.name}}</a>
                                         </div>
                                         <div class="col">
                                             max: {{stat.max_bonus}}
                                         </div>
                                         <div class="col">
                                             obecnie: {{stat.bonus}}
                                         </div>
                                         <div class="col text-center">
                                             {% if stat.bonus < stat.max_bonus %} <button type="submit" name="dev_stat" value="{{stat.stat.short}}" class="btn btn-dark">Rozwiń</button> {% else %} <button class="btn btn-dark" disabled>Rozwinięte</button> {% endif %}
                                         </div>
                                     </div>
                                 </li>
                                {%endif%}
                            {% endfor %}
                            </ul>
                            <!-- secondary stats -->
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item list-group-item-secondary ml-3 mr-3 mt-4">Cechy drugorzędne: +1 (100 PD)</li>
                            {% for stat in develop_stats %}
                                {% if stat.stat.is_secondary %}
                                <li class="list-group-item mr-3 ml-3">
                                     <div class="row">
                                         <div class="col">
                                             <a href="" data-toggle="modal" data-target="#{{stat.stat.short}}">{{stat.stat.name}}</a>
                                         </div>
                                         <div class="col">
                                             max: {{stat.max_bonus}}
                                         </div>
                                         <div class="col">
                                             obecnie: {{stat.bonus}}
                                         </div>
                                         <div class="col text-center">
                                             {% if stat.bonus < stat.max_bonus %} <button type="submit" name="dev_stat" value="{{stat.stat.short}}" class="btn btn-dark">Rozwiń</button> {% else %} <button class="btn btn-dark" disabled>Rozwinięte</button> {% endif %}
                                         </div>
                                     </div>
                                 </li>
                                {% endif %}
                            {% endfor %}
                            </ul>
                        </form>
                        </div>
                        <!-- Develop Skill -->
                        <div class="col-lg-6">
                        <form method="post">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="develop_skills">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item list-group-item-secondary mr-3 ml-3 mt-3">Umiejętności - rozwiń (100 PD)</li>
                            {% for skill in dev_skills %}
                                 <li class="list-group-item mr-3 ml-3">
                                     <div class="row">
                                         <div class="col-7">
                                             <a href="" data-toggle="modal" data-target="#{{skill.obj.slug}}">{{skill.name}}</a> {% if skill.bonus %}{{skill.bonus}}{% endif %}
                                         </div>
                                         <div class="col-5 text-center">
                                             <button type="submit" name="dev_skill" value="{{ skill.name }} {{ skill.bonus }}" class="btn btn-dark">Rozwiń</button>
                                         </div>
                                     </div>
                                 </li>
                            {% endfor %}
                            </ul>
                        </form>
                        </div>
                    </div>
                    <div class="row mt-4 pb-4">
                        <!-- Develop ability -->
                        <div class="col-lg">
                        <form method="post">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="develop_abilities">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item list-group-item-secondary mr-3 ml-3 mt-3">Zdolności - wykup (100 PD)</li>
                            {% for ability in dev_abilities %}
                                 <li class="list-group-item mr-3 ml-3">
                                     <div class="row">
                                         <div class="col-9">
                                             <a href="" data-toggle="modal" data-target="#{{ability.object.slug}}">{{ability.name}}</a> {% if ability.bonus %} {{ability.bonus}} {% endif %}
                                         </div>
                                         <div class="col-3 text-center">
                                              <button type="submit" name="dev_ability" value="{{ability.name}} {{ ability.bonus }}" class="btn btn-dark">Rozwiń</button>
                                         </div>
                                     </div>
                                 </li>
                            {% endfor %}
                            </ul>
                        </form>
                        </div>
                        <!-- Change profession -->
                        <div class="col-lg">
                            <form method="post">
                                {% csrf_token %}
                                <input type="hidden" name="action" value="change_profession">
                            <ul class="list-group list-group-flush mb-3">
                                <li class="list-group-item list-group-item-secondary mr-3 ml-3 mt-3">Zmień profesję</li>
                            </ul>
                            <strong class="ml-5">Uwaga!</strong>
                            <p class="ml-5">
                                Przy zmianie profesji NIE są sprawdzane warunki "przeskoku" ani profesje wyjściowe.
                            </p>
                            <div class="row">
                                <div class="col d-flex justify-content-center">
                                   {{ change_profession_form }}
                                </div>
                                <div class="col d-flex justify-content-center">
                                    <button value="xD" name="change_profession" class="btn btn-dark btn-lg">Zmień</button>
                                </div>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>


<!-- modals -->
{% for stat in stats_table %}
<div class="modal fade" id="{{stat.stat.short}}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{stat.stat.name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <p>{{stat.stat.description | linebreaks}}</p>
      </div>
    </div>
  </div>
</div>
{% endfor %}

{% for skill in char_skills %}
<div class="modal fade" id="{{skill.skill.slug}}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{skill.skill.name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <p>{{skill.skill.description | linebreaks}}</p>
      </div>
    </div>
  </div>
</div>
{% endfor %}

{% for skill in dev_skills %}
<div class="modal fade" id="{{skill.object.slug}}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{skill.name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <p>{{skill.object.description | linebreaks}}</p>
      </div>
    </div>
  </div>
</div>
{% endfor %}

{% for ability in char_abilities %}
<div class="modal fade" id="{{ability.ability.slug}}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ability.ability.name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <p>{{ability.ability.description | linebreaks}}</p>
      </div>
    </div>
  </div>
</div>
{% endfor %}

{% for ability in dev_abilities %}
<div class="modal fade" id="{{ability.object.slug}}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ability.name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <p>{{ability.object.description | linebreaks}}</p>
      </div>
    </div>
  </div>
</div>
{% endfor %}
<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();
});
</script>
<!-- jQuery Custom Scroller CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
<!-- Forms, Sidebars js -->
<script src="{% static 'warhammer/scripts.js' %}"></script>
<!-- chat, map js -->
<script src="{% static 'wh_chat/chat.js' %}"></script>
{% endblock %}