{% extends 'warhammer/base.html' %}
{% load static %}

{% block title %}
<title>WfRp - {{game.name}}</title>
{% endblock %}

{% block body %}
{% if login_error %}
<div class="container">
    <h2>{{login_error}}</h2>
</div>
{% else %}
<form method="post">
    {% csrf_token %}
    <div class="container">
        <h1>{{game.name}}</h1>
        <hr style="width: 100%; color: black; height: 1px; background-color:black;">
        <div class="row">
            <div class="col">
                <input class="form-control" id="rolling_name" value="{{user}}">
                <div class="card">
                    <div class="card-header">
                        Dodaj NPC
                    </div>
                    <div class="row">
                        <div class="col">
                            <input class="form-control" name="npc_name" type="text" placeholder="Nazwa">
                        </div>
                        <div class="col">
                            <input class="form-control" name="npc_WW" type="number" placeholder="WW">
                        </div>
                        <div class="col">
                            <input class="form-control" name="npc_US" type="number" placeholder="US">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <textarea class="form-control" name="npc_notes" rows="4" cols="50">Dodatkowe notatki</textarea>
                        </div>
                    </div>
                    <div class="card-footer">
                         <div class="text-right">
                             <button class="btn btn-dark" type="submit" name="add_npc" value="1">dodaj</button>
                         </div>
                    </div>
                </div>

                <div class="card mt-3">
                    <div class="card-header"> Twoi NPC:</div>
                    <div class="list-group">
                    {% for npc in npcs %}
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col">
                                    <p class="mb-2">
                                     <button class="btn btn-dark" type="submit" value="{{npc.pk}}" name="delete_npc">usuń</button>
                                    {{npc.name}}
                                    </p>
                                    <button id="{{npc.pk}}_WW" TYPE="button" name="WW" class="btn btn-dark" value="{{npc.WW}}" onclick="roll_stats(this.id);">WW ({{npc.WW}})</button>
                                    <button id="{{npc.pk}}_US" TYPE="button" name="US" class="btn btn-dark" value="{{npc.US}}" onclick="roll_stats(this.id);">US ({{npc.US}})</button>
                                    <br>
                                    <p class="mt-1">{{npc.notes}}</p>
                                </div>
                            </div>
                        </li>
                    <br>
                    {% endfor %}
                    </div>
                </div>
            </div>

            <!-- chat box -->
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h3>Kostko-turlacz</h3>
                        <div class="row">
                            <div class="col-3">
                                <input class="form-control" type="number" value="1" min="1" id="n">
                            </div>
                            <div class="col-1 text-body">
                                K
                            </div>
                            <div class="col-3">
                                <input class="form-control" type="number" value="100" min="1" id="d">
                            </div>
                            <div class="col-4">
                                <button class="btn btn-secondary btn-block" type="button" onclick="roll_custom()">Turlaj</button>
                            </div>
                        </div>
                    </div>
                    <ul id="chat_box" class="list-group">
                    </ul>
                </div>
            </div>

            <!-- mapa -->
            <div class="col">
                <div class="card">
                    <div class="card-header">Mapa</div>
                    <div class="card-body bg-secondary">
                         <div class="map" style="position:relative; left:16px; width:300px;">
                            <div class="empty"><div data-token="0" class="filled" draggable="true"><img src="{% static 'warhammer/token0.png' %}" class="img-fluid"></div></div>
                            <div class="empty"><div data-token="1" class="filled" draggable="true"><img id="token1" class="img-fluid" src="{% static 'warhammer/token1.png' %}"></div></div>
                            <div class="empty"><div data-token="2" class="filled" draggable="true"><img class="img-fluid" src="{% static 'warhammer/token2.png' %}"></div></div>
                            <div class="empty"><div data-token="3" class="filled" draggable="true"><img class="img-fluid" src="{% static 'warhammer/token3.png' %}"></div></div>
                            <div class="empty"><div data-token="4" class="filled" draggable="true"><img class="img-fluid" src="{% static 'warhammer/token4.png' %}"></div></div>
                            <div class="empty"><div data-token="5" class="filled" draggable="true"><img class="img-fluid" src="{% static 'warhammer/token5.png' %}"></div></div>
                             <div class="empty"><div data-token="6" class="filled" draggable="true"><img class="img-fluid" src="{% static 'warhammer/token6.png' %}"></div></div>
                             <div class="empty"><div data-token="7" class="filled" draggable="true"><img class="img-fluid" src="{% static 'warhammer/token7.png' %}"></div></div>
                             <div class="empty"><div data-token="8" class="filled" draggable="true"><img class="img-fluid" src="{% static 'warhammer/token8.png' %}"></div></div>
                             <div class="empty"><div data-token="9" class="filled" draggable="true"><img class="img-fluid" src="{% static 'warhammer/token9.png' %}"></div></div>
                             <div class="empty"><div data-token="10" class="filled" draggable="true"><img class="img-fluid" src="{% static 'warhammer/token10.png' %}"></div></div>
                             <div class="empty"><div data-token="11" class="filled" draggable="true"><img class="img-fluid" src="{% static 'warhammer/token11.png' %}"></div></div>
                             <div class="empty"><div data-token="12" class="filled" draggable="true"><img class="img-fluid" src="{% static 'warhammer/token12.png' %}"></div></div>
                             <div class="empty" id="trash" style="background-image:url('{% static 'warhammer/trash-can.png' %}'); background-color:transparent;"></div>
                            <br>
                         </div>
                    </div>
                </div>

                <table class="map mt-3">
                    {% for y in rows %}
                    <tr class="map table-map">
                        {% for x in columns %}
                        <th class="map"><div class="empty" id="{{y}}_{{x}}"></div></th>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>

                <div class="card mt-3">
                    <div class="card-header">Inicjatywa</div>
                    <div class="row mt-2 ml-2">
                        <div class="col-6">
                            <input class="form-control" type="text" id="i_name" placeholder="Nazwa">
                        </div>
                        <div class="col-4">
                            <input class="form-control" type="number" id="i_value" placeholder="inicjatywa">
                        </div>
                        <div class="col-2">
                            <button class="btn btn-dark" type="button" onclick="add_initiative()">+</button>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center mt-3 mb-2">
                        <div class="btn-group">
                            <button class="btn btn-danger btn-lg" type="button" onclick="reset_initiative()">reset</button>
                            <button class="btn btn-dark btn-lg" type="button" onclick="sort_initiative()">sort</button>
                            <button class="btn btn-dark btn-lg" type="button" onclick="next_initiative()">  next  </button>
                        </div>
                    </div>
                <div id="initiative" class="list-group"></div>
                </div>
            </div>
        </div>
    </div>
</form>
<script>

    // On load
var game_id = window.location.pathname;
game_id = game_id.split('game/')[1];
var chat_box = document.getElementById('chat_box');
var message_counter = 0;
var map_counter = 0;
var map_bool = false;
var chat_bool = false;
reload_messages = setInterval(get_message, 4000);


//contrary to name - it also gets map
function get_message(){
        var Httpreq = new XMLHttpRequest();
        Httpreq.open("GET",'https://zyv1k.eu.pythonanywhere.com/warhammer/api/game/' + game_id, true);
        Httpreq.onload = function(){
            var json = JSON.parse(Httpreq.responseText);
            var json_map = json.map;
            json = json.chat;
            var i;

            // if there are new messages - refresh chat
            if(json[0].pk != message_counter){
                chat_box.innerHTML = ' ';
                for (i = 0; i < json.length; i++){
                    if (json[i].message.includes("Sukces!")){
                        chat_box.innerHTML += "<li class='list-group-item text-body' style='background-color:#caeebe;'>" + json[i].author + "<br>" + json[i].message + '</li>';
                    }else if(json[i].message.includes("Porażka!")){
                        chat_box.innerHTML += "<li class='list-group-item text-body' style='background-color:#ed5050 ;'>" + json[i].author + "<br>" + json[i].message + '</li>';
                    }else {
                        chat_box.innerHTML += "<li class='list-group-item text-body'>" + json[i].author + "<br>" + json[i].message + '</li>';
                    }
                }
            message_counter = json[json.length-1].pk;
            }

            // if there is change in map - refresh
            if (json_map.counter != map_counter){
                refresh_map(json_map.map);
                map_counter = json_map.counter;
            }


        }
  Httpreq.send();
}

//sends provided message and refreshes chat
function send_message(message, type){
    var author = document.getElementById("rolling_name").value;
    var Httpreq = new XMLHttpRequest();
    Httpreq.open("POST",'https://zyv1k.eu.pythonanywhere.com/warhammer/api/game/' + game_id, true);

    // send message or map??
    if (type=="roll"){
        var post_data = {"author":author,"message":message};
    } else {
        var post_data = {"map":message};
    }

    Httpreq.setRequestHeader("Content-Type", "application/json");

    Httpreq.onload = function (){
      clearInterval(reload_messages);
      get_message();
      reload_messages = setInterval(get_message, 4000);
    }

    Httpreq.send(JSON.stringify(post_data));
}


//roll - n:number of dice, d: number of die sides
function roll_custom(){
    var n = parseInt(document.getElementById('n').value);
    var d = parseInt(document.getElementById('d').value);
    if (n > 0 && d > 0 && n <= 1000 && d<=1000 ){
      let i;
      var string = n.toString() + "k"+ d.toString() + ": " + "<strong>" + "suma" + "</strong><br>(";
      let x;
      let sum = 0;
      for (i=0; i<n; i++){
        x = Math.floor(Math.random()*d)+1;
        sum += x;
        string += x.toString() + " + ";
      }
      string = string.substring(0, string.length-3)+") ";
      string = string.replace("suma",sum.toString());


      send_message(string, "roll");
  }
}

//rolls, checks for success, for WW and US check location of hit
function roll_stats(clicked_id){
    var stat = document.getElementById(clicked_id);
    var stat_val = parseInt(stat.value);
    var short = stat.name;

    // rolls
    var roll = Math.floor(Math.random()*100)+1;
    var string = "<strong>" + short+": "+ roll.toString()+"</strong> "; //ex. WW: 75

    //checks for success
    if (stat_val >= roll){
       string += "<br><strong>" + "Sukces! (+" + (stat_val-roll).toString() +")"; //ex. WW: 30 Sukces (14)
    }
    else {
        string += "<br><strong>" + "Porażka! (" + (stat_val-roll).toString() +")";
    }

    //checks location of hit
    if (short=="WW" || short=="US"){
        roll = "0" + roll; //in case of 1 digit roll
        var flipped_roll = roll.charAt(roll.length-1) + roll.charAt(roll.length-2);
        flipped_roll = parseInt(flipped_roll);

        //tabelka :)
        if (flipped_roll < 16){
            string += " (" + "Głowa" + ")</strong>";
        } else if (flipped_roll < 36){
            string += " (Prawe ramię)</strong>";
        } else if (flipped_roll < 56){
            string += " (Lewe ramię)</strong>";
        } else if (flipped_roll < 81){
            string += " (Korpus)</strong>";
        } else if (flipped_roll < 91){
            string += " (Prawa noga)</strong>";
        } else{
            string += " (Lewa noga)</strong>";
        }
    }
    send_message(string, "roll");
}

//#######################MAP###########################
var token_nr = 14;
const empties = document.querySelectorAll('.empty');
var picked;
    // Adds eventListeners for map
    for(const empty of empties){
        empty.addEventListener('dragover',dragOver);
        empty.addEventListener('dragenter',dragEnter);
        empty.addEventListener('dragleave',dragLeave);
        empty.addEventListener('drop',dragDrop);
    }

    //Gets images for tokens (last one is empty - trash);
    var tokens = [];
    for (var i=0; i< token_nr;i++){
        tokens.push(empties[i].innerHTML);
    }

    //"map" is string representing every field on map
    function refresh_map(map){

        //Prepares array
        map = map.split(",");
        // places tokens on map
        for (let i=0; i<map.length; i++){
            empties[i].innerHTML = tokens[parseInt(map[i])];
        }

        // finds tokens
        var filled = document.querySelectorAll('.filled');

        // Adds eventListeners for Tokens
        for (const fill of filled){
            fill.addEventListener('dragstart',dragStart);
            fill.addEventListener('dragend',dragEnd);
        }
    }

    // returns string representation of map
    function prepare_map(token_nr){
        var string_map = "";
        for (let i=0 ; i<empties.length; i++){
            if(i<token_nr){
                string_map += i.toString() + ',';
            } else if (empties[i].firstChild) {
                string_map += empties[i].firstChild.dataset.token + ",";
            } else {
                string_map += (token_nr-1).toString() +',';
            }
        }
        string_map = string_map.slice(0, string_map.length-1);
        return string_map;
    }


    // Map functionality functions
    function dragStart(){
        picked = this;
        this.className +=' hold';
        setTimeout(() => (this.className = 'invisible'), 0);
    }

    function dragEnd() {
        this.className = 'filled';
    }

    function dragOver(e){
        e.preventDefault();
    }

    function dragEnter(e){
        e.preventDefault();
        this.className += ' hovered';

    }

    function dragLeave(){
        this.className = 'empty';
    }

    function dragDrop(e){
        e.preventDefault();
        if (picked.className == "invisible" && this.innerHTML.indexOf("<") == -1 || picked.className == "invisible" && this.id=="trash"){
        this.className = 'empty';
        this.append(picked);
        send_message(prepare_map(token_nr), "map");
        }

    }

//inicjatywa
var initiative_box = document.getElementById('initiative');

function add_initiative(){
    var li = document.createElement("li");
    li.className = "list-group-item";
    li.value = document.getElementById('i_value').value;
    li.innerHTML = li.value + " " + "<strong>" + document.getElementById('i_name').value+"</strong>" + "<input class='form-control' type='text'>";
    initiative_box.appendChild(li);
}

function sort_initiative(){
    var list = initiative_box.childNodes;
    function compare(a,b){
        if (a.value < b.value){
            return 1;
        }
        if (a.value > b.value){
            return -1;
        }
        return 0;
    }
    var array = Array.from(list);
    array.sort(compare);

    initiative_box.innerHTML = '';
    for(var i=0; i<array.length; i++ ){
        var li = document.createElement("li");
        initiative_box.appendChild(array[i]);
    }
}

function next_initiative(){
    var list = initiative_box.childNodes;
    var index = list.length-1;
    for(var i=0; i<list.length; i++){
        if (list[i].className == "list-group-item bg-primary"){
            index = i;
            break;
        }
    }

    list[index].className = "list-group-item";
    if (index >= list.length-1){
        index = -1;
    }
    list[index+1].className = "list-group-item bg-primary";
}

function reset_initiative(){
    initiative_box.innerHTML = "";
}
</script>
{% endif %}
{% endblock %}
