{% extends 'warhammer/base.html' %}
{% load staticfiles %}


<head>
    <meta charset="UTF-8">
    {% block title %}
    <title>Title</title>
    {% endblock %}
</head>
{% block body %}
<!-- Okruszki -->
<div class="container">
    <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'wh:race' %}">Wybierz rasę</a></li>
              <li class="breadcrumb-item"><a href="{% url 'wh:stats' race.slug %}">Wylosuj chechy oraz profesję</a></li>
              <li class="breadcrumb-item active" aria-current="page">Dostosuj bohatera</li>
          </ol>
    </nav>

    <form method="post" onsubmit="return validateRAND()">
        {% csrf_token %}
        {% autoescape off %}
        <div class="row pb-4 justify-content-center">
            <div class="col-4">
                <div class="card">
                    <div class="card-header pb-2">Podstawowe informacje</div>
                    <p class="pl-3 pr-3 pt-4"><input required placeholder="Nazwa" type="text" name="name" class="form-control form-control-lg"></p>
                    <p class="pl-3">Rasa: {{race.name}}</p>
                    <p class="pl-3">Profesja: {{profession.name}}</p>
                    <p class="pl-3">PD: 0 </p>
                </div>
            </div>
            <!-- aktulane chechy -->
            <div class="col-8">
                <div class="card">
                    <div class="card-header pb-2">Aktualne cechy bohatera</div>
                    <div class="table-responsive">
                    <table class="table table-sm mt-2">
                        <thead class="thead-dark justify-content-center">
                        <tr>{% for stat in stats_table %} {% if not stat.stat.is_secondary %}
                            <th class="pl-5" scope="col"><a class="text-white" data-target="#{{stat.stat.short}}" data-toggle="modal" href="#">{{stat.stat.short}}</a></th>{% endif %} {% endfor %}
                        </tr>
                        </thead>
                        <tbody>
                        <tr>{% for stat in stats_table %} {% if not stat.stat.is_secondary %}
                            <td class="pl-5">{{stat.value}}</td>{% endif %} {% endfor %}
                        </tr>
                        </tbody>
                    </table>
                    </div>
                    <div class="table-responsive">
                    <table class="table table-sm mt-3">
                        <thead class="thead-dark ml-3">
                        <tr>{% for stat in stats_table %} {% if stat.stat.is_secondary %}
                            <th class="pl-5" scope="col"><a class="text-white" href="#" data-toggle="modal" data-target="#{{stat.stat.short}}">{{stat.stat.short}}</a></th>{% endif %} {% endfor %}
                        </tr>
                        </thead>
                        <tbody>
                        <tr>{% for stat in stats_table %} {% if stat.stat.is_secondary %}
                            <td class="pl-5">{{stat.value}}</td>{% endif %} {% endfor %}
                        </tr>
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- Umiejętności -->
        <div class="row pb-4 justify-content-center">
            <div class="col">
                <div class="card pb-4">
                    <div class="card-header">Wyuczone umiejętności</div>
                    <p class="ml-3 mt-3">Rasa:</p>
                    <ul class="list-group">
                    {% for skill in mandatory_race_skills %}
                    <li class="list-group-item ml-3 mr-3">{{skill}}</li>
                        {% endfor %}
                    </ul>
                    <p class="ml-3 mt-3">Profesja:</p>
                    <ul class="list-group">
                    {% for skill in mandatory_prof_skills %}
                    <li class="list-group-item ml-3 mr-3">{{skill}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <!-- Umiejętności do wyboru -->
            <div class="col">
                <div class="card">
                    <div class="card-header">Umiejętności do wyboru</div>
                    {% if optional_race_skills %}
                    <p class="ml-3 mt-3">Rasa:</p>
                    <ul class="list-group">
                        {% for skill in optional_race_skills %}
                        <li class="list-group-item ml-3 mr-3">{{skill}}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <p class="ml-3 mt-3">Profesja:</p>
                    <ul class="list-group">
                    {% for skill in optional_prof_skills %}
                    <li class="list-group-item ml-3 mr-3">{{skill}}</li>
                        {% endfor %}
                    </ul>
                    <div class="card-footer text-muted mt-4">Jeśli posiadasz już daną umiejętność (np. z rasy) to wybierając ją tutaj dostaniesz +10 do testów tej umiejętności.</div>
                </div>
            </div>
        </div>

        <!-- Zdolności -->
        <div class="row pb-4 justify-content-center">
            <div class="col">
                <div class="card pb-4">
                    <div class="card-header">Posiadane Zdolności</div>
                    <p class="ml-3 mt-3">Rasa:</p>
                    <ul class="list-group">
                    {% for skill in mandatory_race_abilities %}
                    <li class="list-group-item ml-3 mr-3">{{skill}}</li>
                        {% endfor %}
                    </ul>
                    <p class="ml-3 mt-3">Profesja:</p>
                    <ul class="list-group">
                    {% for skill in mandatory_prof_abilities %}
                    <li class="list-group-item ml-3 mr-3">{{skill}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <!-- Zdolności do wyboru -->
            <div class="col">
                <div class="card">
                    <div class="card-header">Zdolności do wyboru</div>
                    {% if optional_race_abilities %}
                    <p class="ml-3 mt-3">Rasa:</p>
                    <ul class="list-group">
                        {% for skill in optional_race_abilities %}
                        <li class="list-group-item ml-3 mr-3">{{skill}}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <p class="ml-3 mt-3">Profesja:</p>
                    <ul class="list-group">
                    {% for skill in optional_prof_abilities %}
                    <li class="list-group-item ml-3 mr-3">{{skill}}</li>
                        {% endfor %}
                    </ul>
                    <div class="card-footer text-muted mt-4">Zdolności się nie sumują - jeśli Twój Bohater posiada zdolność Mocna głowa, to wybranie jej tutaj nie sprawi że będzie w stanie więcej wypić.</div>
                </div>
            </div>
        </div>

        <!-- darmowe rozwinięcie, eq i losowe zdolności -->
        <div class="row pb-4">
            <div class="col">
                <div class="card pb-4">
                    <div class="card-header">Darmowe rozwinięcie</div>
                    <p class="mt-3 ml-3">Twój Bohater na start otrzymuje jedno darmowe rozwinięcie cechy: </p>
                    <ul class="list-group">
                    {% for stat in develop_stats %}
                    <li class="list-group-item ml-3 mr-3">
                        <label><input required type="radio" name="develop_stat" value="{{stat.stat.short}}"><a href="" data-toggle="modal" data-target="#{{stat.stat.short}}"> {{stat.stat.name}}</a> {{stat.bonus}} </label>
                    </li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
            <!-- eq -->
            <div class="col">
                <div class="card">
                    <div class="card-header">Ekwipunek</div>
                    <textarea name="eq" class="form-control rounded-0" id="eq" rows="10" style="font-size:small;">{{equipment}}</textarea>
                    <p class="ml-3 mt-3">Pieniądze (zk): </p>
                    <div class="row">
                        <div class="col">
                            <input required class="form-control form-control-lg ml-3" type="number" step="1" name="coins" id="coins" onclick="roll_coins()" placeholder="2k10">
                        </div>
                    <div class="col text-center">
                         <p><button type="button" class="btn btn-lg btn-outline-dark align-middle" onclick="roll_coins()">Rzuć kośćmi!</button></p>
                    </div>
                </div>
                </div>
            </div>

            {% if race_counter > 0 %}
            <div class="col">
                <div class="card">
                    <div class="card-header">Losowanie zdolności</div>
                    <button type="button" data-toggle="modal" data-target="#tabela_zdolnosci" class="btn btn-dark btn-lg btn-block mb-3">Tabela losowych zdolności</button>
                    <div class="row">
                    <div class="col">
                        <input required placeholder="1k100" class="form-control form-control-lg mb-3 ml-3"  name="0_random_ability" type="number" step="1" id="0_random_ability">
                        <div class="invalid-feedback mb-3 ml-3">Wartość musi być pomiędzy 1, a 100.</div>
                        {% if race_counter == 2 %}
                        <input required placeholder="1k100" class="form-control form-control-lg ml-3 mb-3"  name="1_random_ability" type="number" step="1" id="1_random_ability">
                        <div class="invalid-feedback mb-3 ml-3">Wartość musi być pomiędzy 1, a 100</div>
                        {% endif %}
                    </div>
                    <div class="col text-center">
                        <p><button type="button" class="btn btn-lg btn-outline-dark align-middle" value="0" id="0" onclick="roll_ability(this.value)">Rzuć kośćmi!</button></p>
                        {% if race_counter == 2 %}
                        <p> <button type="button" class="btn btn-lg btn-outline-dark" value="1" id="1" onclick="roll_ability(this.value)">Rzuć kośćmi!</button></p>
                        {% endif %}
                    </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="row">
            <div class="col mb-4">
                <button type="submit" class="btn btn-dark btn-lg btn-block pb-2" style="font-size:medium">Zapisz Bohatera</button>
            </div>
        </div>
        {% endautoescape %}
    </form>
</div>

<!-- Skill Modals -->
{% for skill in qs_skills %}
<div class="modal fade" id="{{skill.slug}}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{skill.name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <p>{{skill.description | linebreaks}}</p>
      </div>
    </div>
  </div>
</div>
{% endfor %}

<!-- Ability Modals -->
{% for skill in qs_abilities %}
<div class="modal fade" id="{{skill.slug}}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{skill.name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <p>{{skill.description | linebreaks}}</p>
      </div>
    </div>
  </div>
</div>
{% endfor %}

<!-- Stats Modals -->
{% for stat in stats_table %}
<div class="modal fade" id="{{stat.stat.short}}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{stat.stat.name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <p>{{stat.stat.description}}</p>
      </div>
    </div>
  </div>
</div>
{% endfor %}

<div class="modal fade" id="tabela_zdolnosci" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Losowe zdolności</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          {% for ability in random_table %}
          <div class="row">
              <div class="col"><a tabindex="0" data-toggle="popover" data-trigger="focus" title="{{ability.ability.name}}" data-content="{{ability.ability.description}}">{{ability.ability.name}}</a></div>
              <div class="col text-center">{{ability.roll_range}}</div>
          </div>
          {% endfor %}
      </div>
    </div>
  </div>
</div>

<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();
});
</script>
<script src="{% static 'warhammer/scripts.js' %}"></script>

{% endblock %}