{% extends 'warhammer/base.html' %}

{% block body %}
<div class="container">
        {% if message %}
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
              <p>{{message}}</p>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-3"></div>

        <div class="col-6">
            <form method="post">
            <div class="card text-center">
                <div class="card-header mb-2" style="font-size:x-large;">Logowanie</div>
                <div class="card-body">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col mt-3">
                                <h3>Login</h3>
                            </div>
                        </div>
                         <div class="row">
                            <div class="col">
                                <input required name="login" class="form-control form-control-lg mb-5" type="text" placeholder="Login">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h3 class="mt-4">Hasło</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <input required name="password" class="form-control form-control-lg mb-4" type="password" placeholder="Hasło">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="mt-4">Nie masz konta? <a href="{% url 'wh:register' %}">Zarejestruj się!</a></p>
                            </div>
                        </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col">
                            <button class="btn btn-lg btn-block btn-dark" type="submit" style="font-size:large;">Zaloguj się</button>
                        </div>
                    </div>
                </div>
            </div>
            </form>
        </div>

        <div class="col-3"></div>
    </div>
</div>

{% endblock %}