{% extends 'warhammer/base.html' %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header" style="font-size:large">{{profession.name}}</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg mb-4">
                            <!-- CECHY -->
                            <div class="card">
                                <div class="card-header mb-3" style="font-size:medium">Cechy</div>
                                {% for stat in stats_list%}
                                <p class="ml-3">{{stat.0.name}} {{stat.1}}</p>
                                {% endfor %}
                            </div>
                        </div>
                        <!-- EKWIPUNEK -->
                        <div class="col-lg mb-4">
                            <div class="card">
                                <div class="card-header mb-3" style="font-size:medium">Ekwipunek</div>
                                <p class="ml-3">{{profession.equipment}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- UMIEJĘTNOŚCI -->
                        <div class="col-lg mb-4">
                             <div class="card">
                                <div class="card-header" style="font-size:medium">Umiejętności</div>
                                 <div class="card-body">
                                    {% autoescape off %}
                                    <p class="ml-3">{{skills|linebreaks}}</p>
                                    {% endautoescape %}
                                 </div>
                             </div>
                        </div>
                        <!-- ZDOLNOŚCI -->
                        <div class="col-lg mb-4">
                             <div class="card">
                                <div class="card-header" style="font-size:medium">Zdolności</div>
                                 <div class="card-body">
                                     {% autoescape off %}
                                    <p class="ml-3">{{abilities|linebreaks}}</p>
                                    {% endautoescape %}
                                 </div>
                             </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Skill Modals -->
{% for skill in prof_skills %}
                <div class="modal fade" id="{{skill.slug}}" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">{{skill.name}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                          <p>{{skill.description | linebreaks}}</p>
                      </div>
                    </div>
                  </div>
                </div>
{% endfor %}

{% for skill in prof_abilities %}
                <div class="modal fade" id="{{skill.slug}}" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">{{skill.name}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                          <p>{{skill.description | linebreaks}}</p>
                      </div>
                    </div>
                  </div>
                </div>
{% endfor %}



{% endblock %}