{% extends 'warhammer/base.html' %}

{% block title %}
    <title>WfRp - profesje</title>
{% endblock %}

{% block body %}
<div class="container">
    <div class="card mb-5">
        <div class="card-header">
            <div class="row">
                <div class="col" data-en="Professions">
                    Professions
                </div>
                <div class="col">
                    <input id="search" class="form-control form-control-lg" type="text" placeholder="Szukaj" onkeyup="" data-placeholder="Search">
                </div>
            </div>

        </div>
        <div class="card-body">
            <table class="table table-hover" id="example">
                <thead>
                <tr>
                    <th>Nazwa</th>
                </tr>
                </thead>
                <tbody>
                {% for prof in object_list %}
                <tr>
                    <td><a href="{% url 'wh:selected_profession' prof.slug %}" data-en="{{ prof.name_en }}"> {{prof.name}}</a></td>
                </tr>

                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</div>


<script>
var rows = document.getElementsByTagName("tr");
var search_box = document.getElementById('search');
search_box.addEventListener('keyup', search, false);

function search(){
    search_value = search_box.value.toLowerCase();
    for (i=1; i<rows.length; i++){
        if (rows[i].innerHTML.toLowerCase().indexOf(search_value) == -1){
            rows[i].style.display = "none";
        }
        else{
            rows[i].style.display = "";
        }
    }
}

</script>
{% endblock %}
