{% extends 'warhammer/base.html' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-2"></div>
        <div class="col-md-6 col-sm-8">
            <form method="post">
            <div class="card text-center">
                {% if form.confirm_password %}
                <div class="card-header mb-3" style="font-size:x-large;" data-en="Register">Rejestracja</div>
                {% else %}
                <div class="card-header mb-3" style="font-size:x-large;" data-en="Login">Logowanie</div>
                {% endif %}
                <div class="card-body">
                    {% csrf_token %}
                    {% for field in form %}
                        {% if field.errors %}
                        <div class="alert alert-danger">{{ field.errors.0 | escape }}</div>
                        {% endif %}
                        <h3>{{ field.label }}</h3>
                        {{ field }}
                    {% endfor %}
                    <div class="row">
                        <div class="col">
                            {% if form.confirm_password %}
                            <p class="mt-4"><span data-en="Already got an account?">Masz już konto?</span> <a href="{% url 'wh:login' %}" data-en="Login!">Zaloguj się!</a></p>
                            {% else %}
                            <p class="mt-4"> <span data-en="Don't have an account?">Nie masz konta?</span> <a href="{% url 'wh:register' %}" data-en="Register!">Zarejestruj się!</a></p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col">
                            {% if form.confirm_password %}
                                <button class="btn btn-lg btn-block btn-dark" type="submit" style="font-size:large;" data-en="Register">Zarejestruj się</button>
                            {% else %}
                                <button class="btn btn-lg btn-block btn-dark" type="submit" style="font-size:large;" data-en="Login">Zaloguj się</button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            </form>
        </div>
        <div class="col-md-3 col-sm-2"></div>
    </div>
</div>

{% endblock %}