{% extends 'warhammer/base.html' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-2"></div>
        <div class="col-md-6 col-sm-8">
            <form method="post">
            <div class="card text-center">
                <div class="card-header mb-3" style="font-size:x-large;">Rejestracja</div>
                <div class="card-body">
                    {% csrf_token %}
                    {% for field in form %}
                        {% if field.errors %}
                        <div class="alert alert-danger">{{ field.errors.0 | escape }}</div>
                        {% endif %}
                        <h3>{{ field.label }}</h3>
                        {{ field }}
                    {% endfor %}
                    <div class="row">
                        <div class="col">
                            {% if form.confirm_password %}
                                <p class="mt-4">Masz już konto? <a href="{% url 'wh:login' %}">Zaloguj się!</a></p>
                            {% else %}
                                <p class="mt-4">Nie masz konta? <a href="{% url 'wh:register' %}">Zarejestruj się!</a></p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col">
                            {% if form.confirm_password %}
                                <button class="btn btn-lg btn-block btn-dark" type="submit" style="font-size:large;">Zarejestruj się</button>
                            {% else %}
                                <button class="btn btn-lg btn-block btn-dark" type="submit" style="font-size:large;">Zaloguj się</button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            </form>
        </div>
        <div class="col-md-3 col-sm-2"></div>
    </div>
</div>

{% endblock %}