{% extends 'warhammer/base.html' %}
{% load static %}


{% block body %}
<div class="container">
    <!-- Okruszki -->
    <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'wh:race' %}" data-en="Choose a race">Wybierz rasę</a></li>
            <li class="breadcrumb-item active" aria-current="page" data-en="Roll for statistics and profession">Wylosuj chechy oraz profesję</li>
          </ol>
    </nav>

    <form method="get">
        <!-- Losowanie cech -->
         <div class="card mb-3">
             <div class="card-header mb-4" data-en="Step 2 - roll for stats">Krok 2 - wylosuj chechy</div>
                 <ul class="list-group list-group-flush mr-4 ml-4">
                {% for stat, field in stats_and_form %}
                     <li class="list-group-item">
                        <div class="row no-gutters">
                            <div class="col-3">
                                <a href="" data-toggle="modal" data-target="#{{ stat.stat.short }}" data-en="{{stat.stat.name_en}}"> {{ stat.stat.name }}</a>:
                            </div>
                            <div class="col-2" data-en="{{ stat.stat.short_en }}">({{stat.stat.short}})</div>
                            <div class="col-1">{{stat.base}}</div>
                            {% if stat.bonus > 0 %}
                                <div class="col-1">+</div>
                                <div class="col-3">
                                {{ field }}
                                </div>
                                <div class="col-2 text-center">
                                    <button value="{{stat.bonus}}" type="button" class="btn btn-lg btn-outline-dark ml-3" id="_{{stat.stat.short}}" onclick="roll(this.id)" data-en="Roll the dice!">Rzuć kośćmi!</button>
                                </div>
                                {% else %}
                                <div class="col-1"></div>
                                <div class="col-3"></div>
                                <div class="col-2"></div>
                                {% endif %}
                        </div>
                </li>
            {% endfor %}
             </ul>
         </div>


        <!-- Losowanie profesji -->
        <div class="card">
             <div class="card-header mb-4" data-en="Step 3 - roll for a starting profession">Krok 3 - wylosuj profesję początkową</div>
             <div class="row ml-3">
                 <div class="col-lg-4">
                     <p class="ml-3" data-en="Roll a d100 and compare the number with 'Starting professions table'">
                         Aby ustalić profesję początkową bohatera wylosuj liczbę od 1 do 100 i porównaj ją z tabelą obok.
                     </p>
                     <p class="ml-3" data-en="">Jeśli potrzebujesz więcej informacji na temat danej profesji kliknij na jej nazwę - na nowej karcie otworzy się strona z szczegółami.</p>
                 </div>
                 <div class="col-lg-3 text-center"><button data-toggle="modal" data-target="#starting_table" type="button" class="btn btn-lg btn-dark"><span data-en="STARTING PROFESSIONS TABLE">TABELA PROFESJI POCZĄTKOWYCH</span></button></div>
                 <div class="col-lg-3 col-8">
                     <div class="mb-4 mt-4">
                         {{ stats_and_form.10.1 }}
                     </div>

                 </div>
                 <div class="col-lg-2 col-4 text-center"><button type="button" class="btn btn-lg btn-outline-dark mt-4 mb-4" id="PROF" onclick="roll_profession()" data-en="Roll the dice!">Rzuć kośćmi!</button></div>
             </div>
        </div>
        <div class="row justify-content-center">
            <div class="col mb-5"><button type="submit" class="btn btn-block btn-lg btn-dark" style="font-size:medium" data-en="Next step">Nasępny krok</button></div>
        </div>
    </form>

    <!-- tabela z profesjami -->

    <div class="modal fade" id="starting_table" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" data-en="Starting professions">Profesje początkowe</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <ul class="list-group list-group-flush mr-4 ml-4">
              {% for s_profession in starting_professions %}
                  <li class="list-group-item">
                      <div class="row">
                          <div class="col"><a href="{% url 'wh:selected_profession' s_profession.profession.slug %}" target="_blank" data-en="{{ s_profession.profession.name_en }}">{{s_profession.profession.name}}</a></div>
                          <div class="col text-center">{{s_profession.roll_range}}</div>
                      </div>
                  </li>
              {% endfor %}
              </ul>
          </div>
        </div>
      </div>
    </div>
</div>

<!-- Modale -->
{% for stat, form in stats_and_form %}
<div class="modal fade" id="{{stat.stat.short}}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" data-en="{{ stat.stat.name_en }}">{{stat.stat.name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <p data-en="{{ stat.stat.description_en }}">{{stat.stat.description | linebreaks}}</p>
      </div>
    </div>
  </div>
</div>
{% endfor %}
<script src="{% static 'warhammer/character_creation.js' %}"></script>
{% endblock %}

