{% extends 'warhammer/base.html' %}
{% block title %}
<title>Ustawienia </title>
{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-2"></div>
        <div class="col-md-6 col-sm-8">
            {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} text-center" role="alert">
                  {{message}}
                </div>
            {% endfor %}
            {% endif %}
             <form method="post">
            <div class="card">
                <div class="card-header text-center"><h2>Zmien hasło</h2></div>
                <div class="card-body text-center">
                    {% csrf_token %}
                    <label for="old_password"><h3>Stare hasło:</h3></label>
                    <input class="form-control form-control-lg mb-3" type="password" name="old_password">
                    <label for="new_password1"><h3>Nowe hasło:</h3></label>
                    <input class="form-control form-control-lg mb-3" type="password" name="new_password1">
                    <label for="new_password2"><h3>Potwierdź nowe hasło:</h3></label>
                    <input class="form-control form-control-lg mb-3" type="password" name="new_password2">
                </div>
            </div>
                 <button class="btn btn-dark btn-lg btn-block" type="submit" style="font-size:large">Zmień hasło</button>
                 </form>
        </div>
        <div class="col-md-3 col-sm-2"></div>
    </div>
</div>
{% endblock %}
