{% load static %}
<!-- Sidebar Dice Roller  -->
<nav id="sidebar" class="bg-dark">
    <div class="sidebar-header">
        <h2 class="ml-3 mt-3">
            <span id="dismiss-right" class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
            <span style="font-family: 'Germania One', cursive; font-size:x-large;">Kostko-turlacz</span>
        </h2>
    </div>

    <div class="card ml-3 mr-3 mb-3">
        <div class="btn-group justify-content-center" role="group" aria-label="Basic example" style="font-size:lg;">
          <button type="button" class="btn btn-dark btn-lg" onclick="roll_stat('R_WW')">WW</button>
          <button type="button" class="btn btn-dark btn-lg" onclick="roll_stat('R_US')">US</button>
          <button type="button" class="btn btn-dark btn-lg" onclick="roll_stat('R_K')">K</button>
          <button type="button" class="btn btn-dark btn-lg" onclick="roll_stat('R_Odp')">Odp</button>
        </div>

        <div class="btn-group justify-content-center mb-2" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-dark btn-lg" onclick="roll_stat('R_ZR')">ZR</button>
            <button type="button" class="btn btn-dark btn-lg" onclick="roll_stat('R_Int')">Int</button>
            <button type="button" class="btn btn-dark btn-lg" onclick="roll_stat('R_SW')">SW</button>
            <button type="button" class="btn btn-dark btn-lg" onclick="roll_stat('R_Ogd')">Ogd</button>
            <button type="button" class="btn btn-dark btn-lg" onclick="roll_initiative()">Inicjatywa</button>
        </div>

        <div class="row form-inline ml-1 mr-1">
            <div class="col-9">
                <input class="form-control w-25" type="number" value="1" min="1" id="n">
                <span style="color: black;" class="mr-2 ml-2">K</span>
                <input class="form-control w-25" type="number" value="100" min="1" id="d">
                <span style="color: black;" class="">+</span>
                <input class="form-control w-25" type="number" value="0" id="roll_bonus">
            </div>
            <div class="col-3">
                <button class="btn btn-dark btn-block" type="button" onclick="roll_custom()">
                    <img src="{% static 'wh_chat/kostki.png' %}" class="img-fluid" style="height:18px;">
                </button>
            </div>
        </div>
    </div>
    <ul class="list-group ml-3 mr-3" id="chat_box">
    </ul>
</nav>

<!-- Sidebar Map  -->
<nav id="sidebar-left" class="bg-dark">
    <div class="row">
        <div class="col">
            <div class="sidebar-header float-right">
                <h2 class="mr-3 mt-3">
                    <span style="font-family: 'Germania One', cursive; font-size:x-large;">Mapa taktyczna</span>
                    <span id="dismiss-left" class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                </h2>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <!-- Tokens -->
            <h3 class="ml-4 mb-3">Tokeny:</h3>
            <div class="map" style="margin-left:16px;">
                <div class="empty"><div data-token="0" class="filled" draggable="true"><img src="{% static 'wh_chat/token0.png' %}" class="img-fluid"></div></div>
                <div class="empty"><div data-token="1" class="filled" draggable="true"><img id="token1" class="img-fluid" src="{% static 'wh_chat/token1.png' %}"></div></div>
                <div class="empty"><div data-token="2" class="filled" draggable="true"><img class="img-fluid" src="{% static 'wh_chat/token2.png' %}"></div></div>
                <div class="empty"><div data-token="3" class="filled" draggable="true"><img class="img-fluid" src="{% static 'wh_chat/token3.png' %}"></div></div>
                <div class="empty"><div data-token="4" class="filled" draggable="true"><img class="img-fluid" src="{% static 'wh_chat/token4.png' %}"></div></div>
                <div class="empty"><div data-token="5" class="filled" draggable="true"><img class="img-fluid" src="{% static 'wh_chat/token5.png' %}"></div></div>
                <div class="empty"><div data-token="6" class="filled" draggable="true"><img class="img-fluid" src="{% static 'wh_chat/token6.png' %}"></div></div>
                <div class="empty"><div data-token="7" class="filled" draggable="true"><img class="img-fluid" src="{% static 'wh_chat/token7.png' %}"></div></div>
                <div class="empty"><div data-token="8" class="filled" draggable="true"><img class="img-fluid" src="{% static 'wh_chat/token8.png' %}"></div></div>
                <div class="empty"><div data-token="9" class="filled" draggable="true"><img class="img-fluid" src="{% static 'wh_chat/token9.png' %}"></div></div>
                <div class="empty"><div data-token="10" class="filled" draggable="true"><img class="img-fluid" src="{% static 'wh_chat/token10.png' %}"></div></div>
                <div class="empty"><div data-token="11" class="filled" draggable="true"><img class="img-fluid" src="{% static 'wh_chat/token11.png' %}"></div></div>
                <div class="empty"><div data-token="12" class="filled" draggable="true"><img class="img-fluid" src="{% static 'wh_chat/token12.png' %}"></div></div>
                <div class="empty" id="trash" style="background-image:url('{% static 'wh_chat/trash-can.png' %}'); background-color:transparent;"></div>
                <br>
            </div>
             <!-- map -->
             <table class="map mt-5" style="margin-left:18px;">
                {% for y in rows %}
                <tr class="map table-map">
                    {% for x in columns %}
                    <th class="map"><div class="empty" id="{{ y }}_{{ x }}"></div></th>
                    {% endfor %}
                </tr>
                {% endfor %}
             </table>
        </div>
    </div>
</nav>